<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>scroll-bar</title>
    <style>
        *{
            box-sizing: border-box;
            scrollbar-width: 10px;
        }
        .container{
            width: 150px;
            height: 200px;
            border: 1px solid red;
        }
    </style>
</head>
<body>
    <div id="app">
        <div class="container">
            <p v-for="(item,index) in 50" :key="index" @click="testHandler(item)">hello--{{item}}</p>
        </div>
    </div>
    
    <script src="./dist/vue.min.js"></script>
    <script src="./dist/scrollbar.esm.js"></script>
    <script>
        new Vue({
            el:"#app",
            methods: {
                testHandler(e){
                    console.log(e)
                }
            },
        })
        scroll(".container")
    </script>
</body>
</html>